body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #595a5b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.chat-container {
    width: 100%;
    max-width: 400px;
    background-color: #848484;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    background-color: #ff0000;
    color: #ffffff;
    padding: 15px;
    text-align: center;
}

.chat-messages {
    height: 400px;
    padding: 20px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Estilo de las burbujas */
.message {
    padding: 10px 15px;
    border-radius: 18px;
    max-width: 80%;
    word-wrap: break-word;
}

.user-message {
    align-self: flex-end;
    background-color: #ff0000;
    color: #ffffff;
    border-bottom-right-radius: 2px;
}

.bot-message {
    align-self: flex-start;
    background-color: #e4e6eb;
    color: #050505;
    border-bottom-left-radius: 2px;
}

.chat-input-area {
    display: flex;
    padding: 15px;
    border-top: 1px solid #ddd;
}

#user-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
}

#send-btn {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

#send-btn:hover {
    background-color: #9b0202;
}